.markers {
  position: absolute;
  bottom: -17px;
  left: -8px;
  display: flex;
}

.markers.both li:nth-child(odd) {
  color: #ff6739;
}

.markers.both li:nth-child(even) {
  color: #ffcf57;
}

.markers.undone li {
  color: #ff6739;
}

.markers.done li {
  color: #ffcf57;
}

.MuiStack-root .MuiCard-root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  margin: 0 5px;
  overflow: visible;
  user-select: none;
  box-sizing: border-box;
}

.MuiStack-root .MuiCardContent-root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  height: 65px;
  width: 55px;
}
