.MuiContainer-root.home-container {
  display: flex;
  height: 100vh;
}

.MuiBox-root.css-0.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.MuiTypography-h2.motto {
  background: linear-gradient(45deg, #178afe 40%, #0059b2 90%);
  color: red;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
